/* 8x69, 2px, #dea200 */

.container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 5px);
  align-items: center;
  padding-top: 5px;
  position: absolute;
}

.needle {
  width: 8px;
  height: 70px;
  background-color: #dea200;
  border-radius: 4px;
}
.line {
  width: 1px;
  height: 100%;
  background-color: #dea200;
}
