.channel {
  background-color: #1a1a1a;
  width: 150px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #444444;
  box-sizing: content-box;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.channel img {
  width: 100px;
}
