.channel {
  background-color: #1a1a1a;
  width: 150px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
}

.channel img {
  width: 100px;
}
