.container {
  position: relative;
  width: 95vw;
  height: 95vh;
  overflow: auto;
}

.guide {
  display: flex;
  flex-direction: row;
  overflow: auto;
}
.channelColumn {
  position: absolute;
  padding-top: 80px;
  z-index: 100;
}

.scheduleLine {
  padding-left: 150px;
}
.timeRow {
  display: flex;
}
.timeRowContainer {
  position: relative;
}
