.container {
  position: relative;
  width: 95vw;
  height: 95vh;
  overflow: auto;
}

.guide {
  display: flex;
  flex-direction: row;
  overflow: auto;
}
.channelColumn {
  position: absolute;
}
.schedules {
  margin-left: 150px;
}
